<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.apps2adds.tutCoffee" android:installLocation="auto" android:versionName="1.3.4" android:versionCode="12">
	<uses-sdk android:minSdkVersion="15" />
	<uses-library android:name="com.google.android.maps" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="tutCoffee">
		<!-- Put your Google Maps V2 API Key here. -->
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCF3mG5HypdthCeon5gB6-znbv3g2dWr6o" />
	</application>
</manifest>